# Expo Public Environment
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_BUILD_TYPE=
EXPO_PUBLIC_DEBUG_MODE=
EXPO_PUBLIC_LOGTAIL_TOKEN=
EXPO_PUBLIC_SENTRY_DSN=

# Build Environment
NODE_ENV=

# Error Tracking & Monitoring
SENTRY_AUTH_TOKEN=
SENTRY_DISABLE_AUTO_UPLOAD=

# API Keys
HERE_API_KEY=
