# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.build

# typescript
*.tsbuildinfo

# Build info (generated at build time)
build-info.json

ios/*
android/*

# Build output
build/
*.ipa
*.aab
*.xcarchive

.env.local
.env
